body {
  background: #0f172a;
  color: white;
  text-align: center;
  font-family: Arial;
}

textarea {
  width: 80%;
  height: 120px;
  margin: 10px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  background: #22c55e;
  border: none;
  color: white;
  cursor: pointer;
}

.hidden {
  display: none;
}

.tabs button {
  background: #1e293b;
}
