#welcomeScreen{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:linear-gradient(135deg,#0b0f14,#111);
display:flex;
justify-content:center;
align-items:center;
z-index:3000;
opacity:0;
pointer-events:none;
transition:0.5s;
}

#welcomeScreen.active{
opacity:1;
pointer-events:auto;
}

.welcomeBox{
text-align:center;
animation:fadeIn 1s ease;
}

.welcomeBox h1{
font-size:28px;
color:cyan;
margin-bottom:10px;
}

.welcomeBox p{
color:#aaa;
font-size:16px;
}

@keyframes fadeIn{
from{transform:translateY(20px);opacity:0}
to{transform:translateY(0);opacity:1}
}
